body {
    font-size: 16px;
    font-family: Kanit, sans-serif;
}

button {
    background-color: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

table tr {
    height: 33%;
    margin: 0;
    padding: 0;
    border-top: 6px solid #999;

}

table tr td {
    border-left: 6px solid #999;
    margin: 0;
    padding: 0;
    width: 33%;
}

table button {
    border: 0;
    display: block;
    font-family: Kanit, sans-serif;
    font-size: 3em;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

button:disabled {
    color: #aaa;
}

table tr:first-child {
    border-top-width: 0;
}
table tr:last-child {
    border-bottom-width: 0;
}
table tr td:first-child {
    border-left-width: 0;
}
table tr td:last-child {
    border-right-width: 0;
}

.container {
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    width: 300px;
}

.meta {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.restart {
    border-width: 2px;
    box-shadow: 1px 1px 1px #ccc;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 2em;
    margin: 8px auto 0 auto;
    text-transform: uppercase;
    width: 100%;
}

.game-info {
    font-family: Verdana, serif;
    font-size: 18px;
    padding-top: 1em;
    text-align: center;
}

@media (max-height: 480px) {
    .container {
        margin-top: 16px;
    }
}